cmd2
colorama
coverage
fabric
flask
flask-classful
flask-HTTPauth
marshmallow
mysql-connector==2.1.4
nose
pandas
psutil
pybluez
pyfiglet
pymongo
python-logstash
pyopenssl
pyro4
pyudev
pyvmomi
requests
sh
spurplus
sqlalchemy
temppathlib
flask-socketio
openpyxl
xlrd

#flask-socketio
#eventlet

# Paquetes necesarios: libffi-dev, python3-dev