bcrypt
cmd2
colorama
coverage
fabric
flask
flask-HTTPauth
flask-classful
flask-socketio
marshmallow
mysql-connector==2.1.4
nose
openpyxl
pandas
psutil
pybluez
pyfiglet
pyjwt
pymongo
pyopenssl
pyro4
python3-logstash
pyudev
pyvmomi
requests
sh
spurplus
sqlalchemy
temppathlib
xlrd


# Paquetes necesarios: libffi-dev, python3-dev